.header {
    margin-left: 35%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: #680151;
    margin-top: 1%;

}

.header:hover {
    background-color: #680151;
    transform: scale(1);
}

body{
    background-color: rgb(122, 106, 106);
}

button {
    border-radius: 20px;
    padding: 5px;
    margin-right: 5%;
    margin-left: 4.5%;
    margin-top: 2%;
     border: black solid 3px;
    text-align:center;
    font-size:40px; 
    color:red;
    background-color:rgb(26, 26, 119);
}

.AboutMe{
     width: 350px;
    height:100px;
}

.CaseStudies{
     width: 350px;
    height:100px;
}

.ContactMe{
     width: 350px;
    height:100px;
}

button:hover {
    background-color: #680151;
    transform: scale(1.4);
    transition: ease 1s;
}

.main{
    display:flex;
}

.aboutBody,
.caseBody,
.contactBody{
   margin: 50px;
   background-color: white;
   border-radius: 20px;
   padding: 20px;
   display:none;
}

.titleBody{
    margin: 50px;
   background-color: white;
   border-radius: 20px;
   padding: 20px;
   display:flex;
}

.Selfie{
    border-radius: 20px;
    height: 30%;
    width: 30%;
}

.aboutText{
margin: 30px;
}