.header {
    margin-left: 35%;
    font-size: 50px;
    color: rgb(184, 167, 167);
    background: none;
    margin-top: 1%;
    border: none;
    padding: 0px;

}

.header:hover {
    background-color: rgb(27, 27, 27);
    transform: scale(1);
}

body{
    background-color: rgb(27, 27, 27);
}

button {
    border-radius: 20px;
    padding: 5px;
    margin-right: 5%;
    margin-left: 4.7%;
    margin-top: 2%;
     border: black solid 3px;
    text-align:center;
    font-size:40px; 
    color:rgb(231, 169, 224);
    background-color:rgb(77, 26, 78);
}
.back,
.next{
    margin-top: 15.7%;
    padding: 1%;
    font-size: 30px;
}

.back:hover,
.next:hover{
    background-color: #57113c;
    transform: scale(1.2);
    transition: ease 1s;
}

.AboutMe{
     width: 350px;
    height:100px;
}

.CaseStudies{
     width: 350px;
    height:100px;
    margin:2%;
    
}

.ContactMe{
     width: 350px;
    height:100px;
}

button:hover {
    background-color: #461a3c;
    transform: scale(1.4);
    transition: ease 1s;
}

.main{
    display:flex;
}

.aboutBody,
.caseBody,
.contactBody{
   margin: 50px;
   background-color: rgb(163, 150, 150);
   border-radius: 20px;
   padding: 20px;
   display:none;
}

.titleBody{
    margin: 50px;
   background-color: rgb(163, 150, 150);
   border-radius: 20px;
   padding: 20px;
   display:flex;
}

.Selfie{
    border-radius: 20px;
    height: 30%;
    width: 30%;
}

.Text{
margin: 30px;
}

.caseImage1,
.caseImage2,
.caseImage3,
.caseImage4{
    border-radius: 15px;
    width: 270px;
    height: 250px;
    
}

.caseText1,
.caseText2,
.caseText3,
.caseText4{
 margin: 3%;
}